{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}

<!-- 进度条容器 -->
<div class="container">
    <div class="progress" style="height: 20px; margin-top: 20px;">
        <div id="upload-progress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // 拦截表单提交
        $('form').submit(function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            formData.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());  // 确保添加了CSRF token

            $.ajax({
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function(evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            $('#upload-progress')
                                .css('width', percentComplete + '%')
                                .attr('aria-valuenow', percentComplete)
                                .text(percentComplete + '%');
                            if (percentComplete === 100) {
                                $('#upload-progress').text('Processing...');
                            }
                        }
                    }, false);
                    return xhr;
                },
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    console.log('Upload completed!');
                    // 重定向到成功页面，例如详情视图
                    window.location.href = response.redirect_url;
                },
                error: function() {
                    alert('Upload failed');
                }
            });
        });
    });
</script>
<!-- 引入Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- 引入Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}